<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.efcl.blog</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>350766AB-33D8-4C80-9519-89CDD34CF974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABAB1F63-CF45-42B8-B63E-30DDE06AB407</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>93B5C414-8F26-48C6-BDF7-87094D3F3970</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75EE9AF9-E03A-4F8D-AFB6-71322A723B04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>960C7F1A-D5DE-4DB0-AFA0-F4D981EA9599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A49D5C7-3C5A-4899-83B8-8D895DDDFA35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A811C87E-2051-4919-BEF3-9B441AE7EDE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93B5C414-8F26-48C6-BDF7-87094D3F3970</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E90C7531-019D-4297-A1C2-826CD60053DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7318E13-956B-499B-89B1-4378FA012A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>azu</string>
	<key>description</key>
	<string>Search efcl.info post</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>efcl.info</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>efcl</string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/workspace/blogs/efcl/_posts</string>
				</array>
				<key>title</key>
				<string>efcl.info</string>
				<key>types</key>
				<array>
					<string>net.daringfireball.markdown</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>E90C7531-019D-4297-A1C2-826CD60053DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/MacDown.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C7318E13-956B-499B-89B1-4378FA012A05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript ./sourcetree-commit.scpt "~/Dropbox/workspace/blogs/efcl"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A49D5C7-3C5A-4899-83B8-8D895DDDFA35</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>efcl:commit</string>
				<key>text</key>
				<string>efcl:commit</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>960C7F1A-D5DE-4DB0-AFA0-F4D981EA9599</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>git --git-dir="/Users/azu/Dropbox/workspace/blogs/efcl/.git" push </string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ABAB1F63-CF45-42B8-B63E-30DDE06AB407</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>efcl:push</string>
				<key>subtext</key>
				<string>push to github</string>
				<key>text</key>
				<string>efcl:push</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>350766AB-33D8-4C80-9519-89CDD34CF974</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>baseDir="/Users/azu/Dropbox/workspace/blogs/efcl/wp-content/uploads/"
baseURL="http://efcl.info/wp-content/uploads/"

# start git
cd $baseDir
git stash save
git checkout master
# run
imagePath=`pbpaste`
uploadDir=$baseDir`date "+%Y/%m"/`
mkdir -p "$uploadDir"
if [ -n "$imagePath" ]; then
   uploadURL="$baseURL`date "+%Y/%m"`/`basename $imagePath`"
   cp "$imagePath" "$uploadDir"
else
   uploadURL="$baseURL`date "+%Y/%m/%d-%s"`.png"
   pngpaste "$uploadDir/`date "+%d-%s"`.png"
fi
echo -n $uploadURL | pbcopy

git add "$uploadDir"
git commit -m "Upload image"
git push
# end git
git checkout -
git stash pop
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93B5C414-8F26-48C6-BDF7-87094D3F3970</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>efcl:image</string>
				<key>subtext</key>
				<string>post image from clipboard</string>
				<key>text</key>
				<string>efcl:image</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A811C87E-2051-4919-BEF3-9B441AE7EDE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Copy Image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>75EE9AF9-E03A-4F8D-AFB6-71322A723B04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>350766AB-33D8-4C80-9519-89CDD34CF974</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>6A49D5C7-3C5A-4899-83B8-8D895DDDFA35</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>75EE9AF9-E03A-4F8D-AFB6-71322A723B04</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>93B5C414-8F26-48C6-BDF7-87094D3F3970</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>960C7F1A-D5DE-4DB0-AFA0-F4D981EA9599</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A811C87E-2051-4919-BEF3-9B441AE7EDE1</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>ABAB1F63-CF45-42B8-B63E-30DDE06AB407</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>C7318E13-956B-499B-89B1-4378FA012A05</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E90C7531-019D-4297-A1C2-826CD60053DF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://efcl.info/</string>
</dict>
</plist>
